:host {

  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #1f2937;
  background: #f8fafc;

  .canvas {
    width: 100%;
    height: 100%;
    background:
      linear-gradient(90deg, #eee 1px, transparent 1px),
      linear-gradient(#eee 1px, transparent 1px);
    background-size: 20px 20px;
    position: relative;
  }


  .connection-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & .connection-path {
      stroke: #38bdf8;
      stroke-width: 2;
      fill: none;
    }

    & .connection-path-marker {
      fill: #38bdf8;
    }
  }
}