<div class="canvas"
  [class.cursor-grabbing]="draggedModuleInfo()"
  (mousemove)="onDrag($event)"
  (mouseup)="onDragEnd()"
  (mouseleave)="onDragEnd()">
  
  <svg class="connection-layer">
    <defs>
      <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="8" refY="3.5" orient="auto" markerUnits="strokeWidth">
        <polygon points="0 0, 10 3.5, 0 7" class="connection-path-marker" />
      </marker>
    </defs>
    @for (connection of connections(); track connection.id) {
      <path 
        [attr.d]="connection.path" 
        class="connection-path" 
        stroke-width="2" 
        marker-end="url(#arrowhead)">
      </path>
    }
  </svg>

  @for (module of localModules(); track module.name) {

    <app-workflow-editor-node
      [module]="module" 
      [isDragged]="draggedModuleInfo()?.module?.name === module.name"
      (dragStart)="onDragStart($event.event, $event.module)"
      (removeNodeAction)="onDeleteModule($event)"
      (click)="onSelectModule(module)"
  ></app-workflow-editor-node>
  }
  
</div>